@model SAT.DATA.EF.Student

@{
    ViewBag.Title = "Delete // " + Model.FullName;
}


<div class="container py-5 px-3">
    <div class="mb-5 alert alert-danger">
    <h3 class="text-uppercase my-3">Are you sure you want to delete @Model.FullName?</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color my-3">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
    </div>
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    Full Name
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Major)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Major)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StudentStatus.SSName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StudentStatus.SSName)
                </dd>

            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>
            </dl>
        </div>
    </div>
</div>
