@model IEnumerable<SAT.DATA.EF.Course>

@{
    ViewBag.Title = "Courses";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container p-4">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CourseDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curriculum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="Course-@item.IsActive.ToString()">
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName) (@item.CreditHours Cr)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curriculum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
                </td>

            </tr>
        }

    </table>

    <div class="text-right"><p>*If Greyed, course is inactive.*</p></div>
</div>
