@model SAT.DATA.EF.StudentStatus

@{
    ViewBag.Title = "Deleting " + Model.SSName;
}

<div class="container p-3">

    <div class="alert alert-danger">Are you sure you want to delete "@Model.SSName"?</div>

    <dl class="dl-horizontal">
        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSName)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSDescription)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        
    <div class="d-flex justify-content-between">
        <div class="form-actions no-color my-2 py-2">
            <input type="submit" value="Delete" class="btn btn-danger " />
        </div>
        <div class="my-2 py-2">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
        </div>
        
    </div>
    }
</div>
