@model IEnumerable<SAT.DATA.EF.Enrollment>

@{
    ViewBag.Title = "Index " + "Enrollments" ;
}

<div class="container">
    <p>
        @Html.ActionLink("New Enrollment", "Create",null,new { @class="btn btn-secondary m-2"})
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                Course
            </th>
            <th>
                Student Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.EnrollmentDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledClass.Term)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentID }, new { @class = "btn btn-info m-1" })
                    @Html.ActionLink("Details", "Details", new { id = item.EnrollmentID }, new { @class = "btn btn-success m-1" })
                    @Html.ActionLink("Unenroll", "Delete", new { id = item.EnrollmentID }, new { @class = "btn btn-warning m-1"})
                </td>
            </tr>
        }

    </table>
</div>